body{
    background-color:rgb(245, 242, 239) ;
}
#font1{
    font-size: 50px;
}

.size_1{
    font-size: 60px;
    color: rgb(18, 81, 81);
}
.saad{
    font-size: 60px;
    color: rgb(18, 81, 81);
    font-size: 60px;
    color: rgb(18, 81, 81);
    font-size: 60px;
    color: rgb(18, 81, 81);
}


body{
    font-family: Almarai;
}

h1{
    color:red
}

h2{
    font-size: 100px;
}

